.Images {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.Polaroids {
    width: 100%;
}
.img-2 {
    width: 100vw;
    display: grid;
    place-items: center;
}
.Texto {
    width: 100%;
}


