.Buttons {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.Button-1, .Button-2{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 15px 20px;
    transition-duration: 0.4s;
    max-width: 100%;
    color: black;
    
}
.Button-1:hover, .Button-2:hover {
    background-color: #1c1462;
    opacity: 0.6!important;
}



